<div class="container">

	<div class="options"
		style="display: flex;
	 flex-direction: column;">
		<mat-label style="font-size: 1.25rem; margin-bottom: 1rem;">Select Type</mat-label>
		<mat-select style="border:0.5px solid gray; padding: 1rem; border-radius: 0.5rem;">
			<mat-option *ngFor="let item of typeCharacter"
				[value]="item.value"
				(click)="filterData(item.value)">
				{{item.viewValue}}
			</mat-option>
		</mat-select>
	</div>

	<div class="data"
		style="width: 100%; display: grid; grid-template-columns: repeat(3,20rem); margin-top: 2rem;">
		<ng-container *ngFor="let item of characters">
			<mat-card style="max-width: 200px; margin-bottom: 1rem;">
				<mat-card-content style="display: flex; flex-direction: column;">
					<span style="font-size: 1.25rem;">{{item.name}}</span>
					<img style="border-radius: 0.5rem;"
						src="{{item.image}}"
						alt>
					<span>{{item.species}}</span>

					<button (click)="openDialog(item)"
						mat-flat-button
						color="primary">
						Ver
					</button>
				</mat-card-content>
			</mat-card>
		</ng-container>
	</div>

</div>
